* {
  margin: 0;
  padding: 0;
  outline: none;
}

:root {
  --main-color: #fff;
  --second-color: #999;
  --box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  --signup-color: #999;
}

html {
  height: 100%;
}
body {
  background-color: rgb(243, 240, 240);
  font-family: sans-serif;
}

#container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  width: 1200px;
  height: 800px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  box-shadow: var(--box-shadow);
  transition-duration: 1s;
}

#left, #right {
  margin: auto;
  width: 95%;
  height: 96%;
  border-radius: 10px;
}

#left {
  background-image: url("https://i.pinimg.com/originals/17/b1/dc/17b1dce92b70ab6c3ca9ae604a5d1485.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: var(--box-shadow);
}
#welcome, #lorem {
  margin: 30px;
  text-shadow: var(--box-shadow);
  position: fixed;
  top: -200px;
  left: 5px;
  color: #222324;

}
#welcome {
  font-size: 75px;
  font-weight: 300;
  margin-top: 330px;
  text-shadow: var(--box-shadow);
}

#login {
  padding-top: 35%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  text-shadow: var(--box-shadow);
  
}
.client-info {
  display: block;
  margin: 20px auto;
  width: 60%;
  height: 50px;
  border: solid #999 1px;
  border-radius: 5px;
  text-indent: 15px;
  transition: all 200ms;
  box-shadow: var(--box-shadow);
}
.client-info:focus {
  width: 80%;
}
label {
  position: absolute;
  margin: -76px 130px;
	font-size: 12px;
	white-space: nowrap;
	background: #fff;
	padding: 0 5px;
	color: #999;
  transition: all 200ms;
  text-shadow: var(--box-shadow);
}
#email:focus ~ label[for="email"] {
  margin: -76px 70px;
}
#password:focus ~ label[for="password"] {
  margin: -76px 70px;
}
#submit {
  border: none;
  background-color: #2b2b2b;
  color: rgb(255, 255, 255);
  width: 60%;
}
#submit:hover {
  background-color: #999;
}

.social {
  background-color: #fff;
  display: block;
  margin: 10px auto;
  width: 70%;
  height: 50px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration-line: none;
  transition-duration: 200ms;
  box-shadow: var(--box-shadow);
  text-shadow: var(--box-shadow);
}
#signup {
  border: solid var(--signup-color) 1px;
  color: var(--signup-color);
}
#signup:hover {
  background-color: var(--signup-color);
  color: white;
}

@media (max-width: 1250px) {
 
  #container {
    width: 600px;
    display: block;
  }
  #left {
    display: none;
  }
  #right {
    margin-top: 16px;
    background-image: url("https://i.pinimg.com/originals/17/b1/dc/17b1dce92b70ab6c3ca9ae604a5d1485.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: var(--box-shadow);
  }
  
}

@media (max-height: 850px) {
 
  #container {
    width: 1000px;
    height: 600px;
  }
  #login {
    padding-top: 20%;
  }
  #welcome {
    margin-top: 240px;
    font-size: 60px;
  }
  #lorem {
    font-size: 15px;
  }
  
}
