*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    
}
body {
    margin: 35px;
    background-color:#262627;
  }

.all{
    
    height: 1020px;
    
}
nav { 
  float: left;
  width: 19%;
  height: 1020px;
  background-color:#7e7e7e;
  border-top-left-radius: 4px;
  
}
.categoryList li:hover a{
    color: rgb(0, 0, 0);
}

.categoryList li:hover a{
    color: rgb(255, 255, 255);
}
.wrapper .nav2 a h2{
transition: all 0.5s;    
}
.wrapper .nav2 a h2:hover{
    color: rgb(0, 0, 0);
    opacity: 0.8;
}
.categoryList li a{
    transition: all 0.6s;
}

.nav2{
    margin-bottom: 20px;
    padding: 30px;
    background-color: #959596;
    position: relative;
    border-top-right-radius: 4px;
    
}
nav{
    color: white;
}
.nav2 a{
    color: white;
}
.wrapper {
  float: right;
  width: 81%;
  height: 1020px;
  background-color: #d0d0d0;
  
}
.container{
    padding: 25px;
}

.categoryList{
    padding-top: 20px;
    padding-left: 10px;
}
.navList{
    margin-top: 40px;
}
.navList ul li{
    font-weight: 600;
    padding-bottom: 30px;
}
.navList a{
    color: #000000;

}
.nav2 i{
    float: right;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;

}

.nav2 h2{
    color: white    ;
    float: inherit;
    margin-right: 25px;
    display: inline;
}

        
.box1 {
    margin-top: 30px;
    text-align: center;   

}
.wrapper{
    
    font-size: 16px;

}
.wrapper2{
    padding-top: 20px;
    padding-left: 20px;
}

.box{
    width:100% ;
    float: left;
    
}
.container2{
    padding: 60px 160px;
}
.container2 h1{
    font-size: 30px;
}
        
.wrapper2{
    position: relative;
}
#pages {
    position: absolute;
    top: 870px;
    left: 400px;
    float: left;
}
#pages ul li{
    display: inline;
    border: 1px solid rgb(0, 0, 0);
    margin-right: 20px;
    padding: 5px 12px;
    border-radius: 5px;
}
#pages ul li:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    color: white;
}

#first{
    background-color: rgb(0, 0, 0);
    color: white;
}

.container2 h1{
    color:rgb(0, 0, 0);
}
.container h1{
    font-family:serif; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;  
    margin-bottom: 60px;
    color:rgb(0, 0, 0);
}
        
#box{
    width: 1000px;
    height: 500px;
    background-color: rgba(18, 11, 11, 0.25);
    margin: auto;
    border-radius:3px;
    box-shadow: 5px 5px 6px rgb(150, 150, 150);
    margin-top: 100px;
    padding: 20px; 
           
 } 

 #box2{
    width: 800px;
    height: 150px;
    background-color: rgba(18, 11, 11, 0.25);
    margin: auto;
    border-radius:3px;
    box-shadow: 5px 5px 6px #000;
    margin-top: 100px;
    padding: 20px; 
           
 }
.color{
    color: #000000;
    
}   
.right{
      float: right;

      width: 250px;
}   
input[type=submit] {
  width: 200px;
  background-color:#1b1b55;
  color: rgb(255, 255, 255);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
} 